/*
 * Kubernetes executor profile for AfriGen-D k8s cluster (ILIFU)
 */

process {
    executor = 'k8s'
}

k8s {
    namespace = 'imputation'
    serviceAccount = 'nextflow'
    storageClaimName = 'workspace-pvc'
    storageMountPath = '/mnt/impute-storage/workspace'
    launchDir = '/mnt/impute-storage/workspace/wes-data/nextflow/runs'
    workDir = '/mnt/impute-storage/workspace/wes-data/nextflow/work'
}

// Mount reference panels in every pod
process {
    pod = [[volumeClaim: 'panel-data-pvc', mountPath: '/mnt/impute-storage/apps']]

    withLabel: 'crossmap' {
        container = 'mamana/crossmap:latest'
        memory = { 4.GB * task.attempt }
        cpus = 2
    }
    withLabel: 'vcf_processing' {
        container = 'docker.io/mamana/picard:3.3.0'
        memory = { 4.GB * task.attempt }
        cpus = 2
    }
    withLabel: 'picard' {
        container = 'docker.io/mamana/picard:3.3.0'
        memory = { 8.GB * task.attempt }
        cpus = 4
    }
    withLabel: 'general' {
        container = 'python:3.11-bookworm'
        memory = { 4.GB * task.attempt }
        cpus = 1
    }
    withLabel: 'python' {
        container = 'python:3.11-bookworm'
        memory = { 4.GB * task.attempt }
        cpus = 1
    }
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_0'
        memory = { 4.GB * task.attempt }
        cpus = 1
    }
}
