/*
========================================================================================
    Test Configuration
========================================================================================
    Test data configuration for the vcf-liftover pipeline
========================================================================================
*/

params {
    // Test data parameters
    input = 'test_data/config/samples.csv'
    chain_file = 'chains/hg19ToHg38.over.chain.gz'
    target_fasta = 'test_data/hg38/reference/hg38_chr22.fa'
    chr_mapping = 'test_data/config/chr_mapping.txt'
    
    // Test-specific settings
    source_build = 'hg19'
    target_build = 'hg38'
    outdir = './test_results'
    split_by_chr = false
    validate_output = false
    
    // Reduced resource requirements for testing
    max_memory = '8.GB'
    max_cpus = 2
    max_time = '2.h'
}

process {
    // Reduced resources for test data
    withLabel: 'crossmap' {
        memory = '2.GB'
        cpus = 1
        time = '30.min'
    }
    
    withLabel: 'vcf_processing' {
        memory = '4.GB'
        cpus = 1
        time = '20.min'
    }
    
    withLabel: 'imputation' {
        memory = '2.GB'
        cpus = 1
        time = '20.min'
    }
    
    withLabel: 'general' {
        memory = '1.GB'
        cpus = 1
        time = '10.min'
    }
    
    // Test-specific process settings
    withName: 'INPUT_CHECK' {
        memory = '1.GB'
        cpus = 1
        time = '5.min'
    }
    
    withName: 'CROSSMAP_VCF' {
        memory = '2.GB'
        cpus = 1
        time = '30.min'
    }
    
    withName: 'SORT_VCF' {
        memory = '4.GB'
        cpus = 1
        time = '20.min'
    }
    
    withName: 'RENAME_CHROMOSOMES' {
        memory = '2.GB'
        cpus = 1
        time = '10.min'
    }
    
    withName: 'FIX_CONTIG_HEADER' {
        memory = '2.GB'
        cpus = 1
        time = '10.min'
    }
    
    withName: 'INDEX_VCF' {
        memory = '1.GB'
        cpus = 1
        time = '5.min'
    }
    
    withName: 'VALIDATE_VCF' {
        memory = '1.GB'
        cpus = 1
        time = '5.min'
    }
    
    withName: 'LIFTOVER_STATS' {
        memory = '1.GB'
        cpus = 1
        time = '5.min'
    }
}
